@charset "UTF-8";
/* CSS Document */
html {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 62.5%;
  line-height: 1.6; }

body {
  background: #f0f0f0; }

li {
  list-style: none; }

p, li, h2, h3 {
  font-size: 1.6rem;
  color: #333; }

a {
  text-decoration: none;
  color: #999; }

/*========= header =========*/
header {
  position: fixed;
  width: 100%;
  z-index: 1; }

h1 {
  margin: 0;
  max-height: 100px;
  background: #FF7E00;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 0.7rem;
  padding: 10px 0 5px 40px; }

.Hot_Page {
  display: block;
  font-size: 2.8rem; }

.nav_btn {
  width: 15%;
  max-width: 48px;
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2; }

nav ul {
  margin: 0;
  padding: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden; }

nav ul li {
  width: 16.65%;
  float: left;
  background: #fff;
  opacity: 0.95; }

nav li a {
  display: block;
  padding: 15px 25px;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center; }

.act a,
nav li a:hover,
nav li a:focus {
  background: #eee;
  color: #333; }

/*========= main =========*/
main img {
  display: block; }

main {
  position: relative;
  padding-top: 150px;
  max-width: 1600px;
  margin: 0 auto; }

main ul {
  display: flex;
  flex-wrap: wrap; }

main li {
  width: 30%;
  float: left;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-right: 3%; }

main figure {
  margin: 2% 5%; }

main img {
  width: 100%; }

main figcaption {
  color: #222; }

/*========= aside =========
aside{
	clear:both;
	max-width: 1600px;
	margin: 0 auto;
	display:flex;
	flex-wrap:wrap;
}
aside section{
	width:30%;
	float:left;
	margin-bottom:30px;
	background:#fff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	overflow:hidden;
	margin-right:3%;
}*/
/*========= footer =========*/
footer {
  clear: both;
  background: #FF7E00; }

footer li {
  float: left;
  display: block;
  border-right: 1px solid #fff;
  padding: 5px 15px; }

footer a {
  color: #fff; }

.pagetop {
  text-align: center;
  background: #fff;
  color: #222;
  padding: 10px 0; }

.pagetop a {
  color: #222;
  font-size: 1.4rem; }

.copy {
  clear: both;
  font-size: .7rem;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  background: #FF7E00; }

@media screen and (max-width: 660px) {
  h1 {
    padding-right: 2%; }
  nav ul li {
    float: none;
    text-align: center;
    width: 100%; }
  nav ul li a {
    border: none;
    border-bottom: solid #dcdcdc 1px; }
  main {
    float: none;
    width: 100%;
    margin: 0; }
  main ul {
    padding: 0 10px; }
  main li {
    width: 350px;
    margin-right: 40px;
    margin: 0 auto;
    margin-bottom: 30px; }
  nav ul {
    display: none; }
  .nav_btn {
    display: block; }
  #contents {
    padding: 0 10px; }
  .food, .food_right {
    width: 100%;
    margin-bottom: 25px; }
  .food img, .food_right img {
    margin: 0;
    float: none; }
  .food p, .food_right p {
    width: 100%; }
  .artist ol li {
    float: none;
    width: 100%; }
  .artist ol li figure img {
    width: 100%; }
  figcaption {
    margin: 0;
    position: static; } }
